<link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Error 404's Nanotwitter</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/display"> Timeline</a></li>
              <li><a href="/post">   Post A Tweet</a></li>
        <li><a href="/profile">   <%= session[:user] %>'s' Profile</a></li>
        <li><a href="/">Sign Out</a></li>
          <li>
            <form class="navbar-form" role="search">
     <div class="input-group">
         <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
         <div class="input-group-btn">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
         </div>
     </div>
     </form></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row">
		<div class="cn">
      <ol>
        <%@tweets.each do |tweet|%>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><%=tweet.text%></h4>
                <p class="card-text"> <%=tweet.time_created%> </p>
            </div>
        </div>

        <br>
          <br>
        </li>
        <%end%>
      </ol>

        </div>
	</div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
