<form action="/fry_login" method="POST">
  <label for="username" Username:/>
  <input type="text" name="username"/>
  <label for="password" Password:/>
  <input type="password" name="password"/>
  <input type="submit" value="Log In"/>
</form>

<hr>
<a href="/fry_login">Log In</a>
<hr>
<a href="/fry_protected_test">Check Protected</a>
<hr>
<a href="/fry_logout">Log Out</a>
<hr>
