<link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<%= erb :_navigation %>
<div class="container">
	<div class="row">
		<div class="cn">

			<form action='/post_tweet' method='POST'>
				<label for="tweet" username:="Username:"/>
				<input id="description" name="tweet[text]" type="text">
				<input type="hidden" name="tweet[time_created]" value="<%= Time.new.inspect%>">
				<input type="hidden" name="tweet[user_id]" value="<%= session[:user].id %>">
				<input type='submit' value='Post Tweet'/>
			</form>

		</div>
	</div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
