<form action="/test/reset/all" method="POST">
  <input type="submit" value="/test/reset/all"/>
</form>

<form action="/test/reset/testuser" method="POST">
  <input type="submit" value="/test/reset/testuser">
</form>

<form action="/test/reset/standard" method="POST">
  <input type="submit" value="/test/reset/standard">
</form>
