/* Fixed navbar */
body {
    padding-top: 90px;
    background-color: coral;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
div.cn {
    vertical-align: middle;
    text-align: center;
}
div.inner {
    display: inline-block;
    color: #fff;
    font-size: 150px;
}
