<link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

<form method="POST" action="/test_search">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <input type="text" name="search_term" id="search" placeholder="search term" value="">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <input type="submit" name="search-submit" id="search-submit" tabindex="4" class="form-control btn btn-info" value="Search">
      </div>
    </div>
  </div>
</form>
